/* Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.typekit.net/pdm1rfu.css");

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Navigation Section */

#navigation{
    background-color: #F6D2D6;
}
.social-logo{
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
}
.logo-section{
    display: inline-block;
    position: absolute;
    right: 10px;
}
.logo-section li{
    display: inline-block;
}
.navigation-bar{
    text-align: center;
}
.main-heading{
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
}
.menus{
    display: flex;
    justify-content: center;
}
.menu{
    display: inline-block;
}
.menu li{
    display: inline-block;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    color: #888888;
    text-decoration: none;

}
.navigate{
    text-decoration: none;
    margin-left: 36px;
    margin-right: 36px;
    font-size: 18px;
}
.navigate:visited{
    color: #888888;
    text-decoration: none;
}
.navigate:hover{
    color: black;
}
.navigate:active{
    color: black;
}


/* Home Section */

#home{
    /* padding-top: 100px; */
    background-color: #F6D2D6;
    text-align: center;
    padding-bottom: 23px;
}

#home div{
    display: inline-block;
}

.one{
    position: relative;
    top: 100px;
    width: 350px;
    z-index: 0;
    margin-right: 67.25px;
}
.two{
    position: relative;
    top: 100px;
    width: 350px;
    z-index: 0;
    margin-left: 67.25px;

}
.three{
    width: 350px;
    z-index: 1;
    margin-left: 232px;
    border: 10px solid white;
    position: relative;
    bottom: 50px;
}

.text{
    display: inline-block;
    font-family: all-round-gothic, sans-serif;
    font-size: 30px;
    position: relative;
    bottom: 260px;
    right: 50px;
    z-index: 3;
    font-weight: 600;
}

/* About Section */

#about{
    margin-top: 120px;
    margin-bottom: 100px;
    text-align: center;
}
#about div{
    display: inline-block;

}
.about-heading{
    display: inline-block;
    font-family: all-round-gothic, sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: relative;
    right: 6px;
    bottom: 350px;
    transform: rotate(-90deg);
    padding: 0px;
}
.main-box{
    text-align: center;
}
.profile-img{
    width: 500px;
    height: 418px;
    position: relative;
    right: 205px;
    z-index: 2;

}
.box{
    display: inline-block;
    position: relative;
    width: 906.438px;
    height: 668px;
    right: 60px;
}
.corner1{
    z-index: 3;
    position: absolute;
    right: 30px;
}
.corner2{
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 100px;
}
.back-box{
    display: inline-block;
    width: 756.43px;
    height: 628px;
    background-color: #F6D2D6;
    position: absolute;
    top: 10px;
    left: 110px;
    z-index: 1;
}
.text-box{
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: white;
    width: 600px;
    font-family: "Montserrat",sans-serif;
    font-size: 23px;
    text-align: center;
    padding: 30px;
    z-index: 3;
    border: 2px solid black 
}

/* Skills Section */

#skills{
    background-color: #6A4162;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 140px;
}

.skills-logo{
    width: 74px;
    height: 74px;
    padding: 8px;
}

.skills-heading{
    display: inline-block;
    font-family: all-round-gothic, sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: relative;
    right: 465px;
    top: 80px;
    transform: rotate(-90deg);
    padding: 0px;
    color: white;
}

.skills-text{
    background-color: transparent;
    font-family: all-round-gothic, sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
}


.right-corner{
    display: inline-block;
    position: relative;
    left: 752px;
    bottom: 582px;
}
.html5{

}
.illustrator{

}
.css3{
    position: relative;
    top: 78px;
    right: 78px;
}

.left-corner{
    display: inline-block;
    position: relative;
    right: 675px;
    top: 100px;
}
.python{

}
.adobexd{
    position: relative;
    bottom: 78px;
    right: 78px;
}
.photoshop{
    position: relative;
    right: 78px;
}


/* Experience Section */

#experience{
    padding-bottom: 50px;
}

.experience-heading{
    display: inline-block;
    font-family: all-round-gothic, sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: relative;
    top: 300px;
    right: 140px;
    transform: rotate(-90deg);
    padding: 0px;
}


.experience-top-container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


.card-container{
    display: flexbox;
    flex-wrap: wrap;
    width: 890px;
    position: relative;
    left: 76px

}


.card{
    /* text-align: center; */
    /* background-color: #F6D2D6; */
    background: #F6D2D6;
    box-shadow:  20px 20px 60px #826f71, 
                 -20px -20px 60px #ffffff;
    border-radius: 22px;
    text-align: center;
    display: inline-block;
    margin: 20px;

}

.large{
    width: 403px;
    height: 530px;
}

.small{
    width: 403px;
    height: 500px;
}

.card-logo{
    width: 361px;
    height: 193.5px;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-heading{
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
    margin-bottom: 20px;
}

.card-section-heading{
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 5px;
    margin-top: 10px;
}

ul.card-list{
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}
.card-list li{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #6A4162;
    padding: 2px;
    display: block;
}


/* Footer Section */

#footer div{
    display: flexbox;
    flex-direction: column;
    text-align: center;
}
.footer-heading{
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 300;
    padding-top: 10px;
}

.footer-logo{
    width: 46px;
    padding: 10px;
}
.footer-p{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 15px;
}